<ion-header>
    <!--<ion-navbar>
    <ion-title text-center>Home</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="刷新" refreshingSpinner="circles" refreshingText="刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <div style='margin:10px;'>
        <textarea [(ngModel)]="content" placeholder="say something" style='width:100%;height:20vw;'></textarea>
    </div>
    <ion-item no-lines>
        <ion-label text-right><span *ngIf='show' style='color:#265FDF;'>点击隐藏</span></ion-label>
        <ion-toggle color='danger' mode='ios'  [(ngModel)]="show"></ion-toggle>
    </ion-item>
    <!--<ion-item>
        <ion-checkbox color='danger' mode='ios' [(ngModel)]="sausage"></ion-checkbox>
        <ion-label>Sausage</ion-label>
    </ion-item>-->
    <div style='margin:0px 10vw;'>
        <button (click)='sendPost()' ion-button block >提交</button>
    </div>
        
     <ion-card *ngFor="let p of posts ; let i = index">
        <ion-item (click)='pushTo(userposts, p)'>
            <ion-avatar item-left>
                <img src="{{p.user?.avatar}}">
            </ion-avatar>
            <h2>{{p.user?.name}}</h2>
            <p>{{p.created_at | date:"yyyy-MM-dd HH:mm:ss"}}</p>
        </ion-item>

        <img (click)='pushTo(postdetails, p)' *ngIf='p.url' src="{{p.url}}">

        <ion-card-content (click)='pushTo(postdetails, p)' *ngIf='p.content'>
            <p>{{p.content}}</p>
        </ion-card-content>

        <ion-row (click)='pushTo(postdetails, p)'>
            <!--<ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                </button>
            </ion-col>-->
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>{{p.comments_c}}</div>
                </button>
            </ion-col>
            <!--<ion-col center text-center>
                <ion-note>
                    11h ago
                </ion-note>
            </ion-col>-->
        </ion-row>
    </ion-card>
    <div *ngIf='!dataLength' style='padding:30px;text-align: center;'>没有了!</div>
    <ion-fab bottom right #fab>
        <button ion-fab (click)="goPrecise()" style='font-size: 0.8em;font-weight: 600;'>
            我的表达
        </button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" [enabled]='!!dataLength' threshold='70%'>
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在努力加载中...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>