<ion-header>
    <!--<ion-navbar>
    <ion-title text-center>Home</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="刷新" refreshingSpinner="circles" refreshingText="刷新...">
        </ion-refresher-content>
    </ion-refresher>


    <div style="padding:0px 8px;">
        <!--<div *ngFor="let p of posts ; let i = index" style="border-bottom:1px solid #ededed;">
            <p>{{p.content}}</p>
        </div>-->
    </div>
        
     <ion-card *ngFor="let p of posts ; let i = index">
        <ion-item>
            <ion-avatar item-left>
                <img src="{{p.user?.avatar}}">
            </ion-avatar>
            <h2>{{p.user?.name}}</h2>
            <p>November 5, 1955</p>
        </ion-item>

        <img *ngIf='p.url' src="{{p.url}}">

        <ion-card-content>
            <p>{{p.content}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>{{p.comments_c}}</div>
                </button>
            </ion-col>
            <!--<ion-col center text-center>
                <ion-note>
                    11h ago
                </ion-note>
            </ion-col>-->
        </ion-row>
    </ion-card>
    <div *ngIf='!dataLength' style='padding:30px;text-align: center;'>没有了!</div>
    <ion-fab bottom right #fab>
        <button ion-fab (click)="goPrecise()" style='font-size: 0.8em;font-weight: 600;'>
            为您找房
        </button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" [enabled]='!!dataLength' threshold='70%'>
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在努力加载中...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>