<!--
  Generated template for the Buy page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-toolbar color='lightprimary'>
    </ion-toolbar>
     <div *ngIf='spinner' style='width:100vw;text-align:center;margin-top:10px;'>
        <ion-spinner name="bubbles"  style='background:white;border-radius:5px;'></ion-spinner>
    </div>
</ion-header>
<!--[style.background]='activeAreaTab||activePriceTab||activeHouseTypeTab||activeMoreTab ? "grey":""'-->
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="刷新" refreshingSpinner="circles" refreshingText="刷新...">
        </ion-refresher-content>
    </ion-refresher>
   
    <div *ngFor="let p of photos ; let i = index; trackBy:p?.id" style="padding:0px;width:33.333vw;height:33.333vw;float:left;">
        <!--<div style="position:relative;width: 100%; height: 100%; background-color:LightCyan; background-image: url({{p.url}});background-size: cover;background-position: center center;">
            <p style="position:absolute; bottom:0px; color:black;">{{p.user.nationality}} {{p.user.name}}</p>
        </div>-->
        <div [style.background-image]="'url(' + p.url + ')'"  style="border:.5px solid white;position:relative;width: 100%; height: 100%; background-color:LightCyan; background-size: cover;background-position: center center;">
            <p style="position:absolute; left:2px; bottom:0px; margin:3px 0px; color:black;">{{p.user.nationality}} {{p.user.name}}</p>
        </div>
    </div>

    <div *ngIf='!dataLength' style='padding:30px;text-align: center;'>没有了!</div>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)"  threshold='1%'>
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在努力加载中...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
